<!-- Section: home -->
<section id="home" class="divider">
    <div class="maximage-slider">
      <div id="maximage">
        <img src="theme/images/Slider2.jpg" alt=""/>
      </div>
    </div>
    <div class="display-table">
      <div class="display-table-cell">
        <div class="container pt-50 pb-50">
          <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
              <div class="inline-block mt-40 pb-60 pl-60 pr-60 pt-40" data-bg-color="rgba(255,255,255, 0.8)">
                <h1 class="text-uppercase text-theme-colored font-raleway font-weight-800 mb-0 mt-0 font-48" >Bóng đá <span class="text-theme-color-2">Jindo</span></h1>
                <p class="font-16 text-black letter-spacing-1 mb-20">Bóng đá
                Jindo<br>Bạn đang cần tìm một trung tâm bóng đá cho con mình để
                nâng cao thể chất, phát triển toàn diện mọi kĩ năng của trẻ,
                giúp trẻ giải tỏa căng thẳng sau các giờ học kiến thức, chắp
                cánh ước mơ cho con. Hãy đến với Trung tâm Thể thao JINDO!</p>
                <a class="btn btn-colored btn-theme-colored" href="#register">Đăng ký ngay</a> 
                <p class="font-16 text-black letter-spacing-1 mb-20">Học thử miễn phí</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

   <!--Tại sao cho học thể thao-->
   <section id="#reason">
    <div class="container">    
        
        <div class="section-title mb-10">
            <div class="row">
                <div class="col-md-10">
                    <h2 class="text-uppercase font-weight-500 mt-0 font-28 line-bottom">Tại sao nên cho con học chơi <span class="text-theme-color-2 font-weight-400">Thể thao</span></h2>
                </h2>
                </div>
            </div>
        </div>        
            <div class="section-content">
                <div class="row">
                    <div class="col-sm-6 col-md-4 col-lg-4 mb-20">
                        <div class="row">
                            <div class="col-md-3 col-xs-2">
                                <div class="icons-football-1">
    
                                </div>
                            </div>
    
                            <div class="col-md-9 col-xs-10">
                                <h4 class="text-theme-colored">Nâng cao sức khỏe cho trẻ</h4>
                                <p class="font-italic text-justify"><em>Ngoài dinh
                                dưỡng, việc vận động, chơi thể thao còn giúp trẻ
                                phát triển chiều cao, cơ bắp, có hệ tim mạch khỏe
                                mạnh. Đồng thời việc tập thể thao còn giúp trẻ giảm
                                nguy cơ béo phì và tạo nền tảng thể chất tốt cho trẻ
                                cho đến khi chúng trưởng thành</em></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-4 mb-20">
                        <div class="row">
                            <div class="col-md-3 col-xs-2">
                                <div class="icons-football-2">
    
                                </div>
                            </div>
    
                            <div class="col-md-9 col-xs-10">
                                <h4 class="text-theme-colored">Giải tỏa căng thẳng sau những giờ học trên lớp</h4>
                                <p class="font-italic text-justify"><em>Khi vận
                                động, chơi thể thao ngoài trời, trẻ có cảm giác hạnh
                                phúc và thoải mái hơn. Điều này giúp bé giải toả
                                những căng thẳng, áp lực sau giờ học ở trường, học
                                thêm… Vì vậy trẻ sẽ không bị uể oải, mệt mỏi, tăng
                                sự tập trung, ghi nhớ khi học, vì thế kết quả học
                                tập sẽ tốt hơn.</em></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-4 mb-20">
                        <div class="row">
                            <div class="col-md-3 col-xs-2">
                                <div class="icons-football-3">
    
                                </div>
                            </div>
    
                            <div class="col-md-9 col-xs-10">
                                <h4 class="text-theme-colored">Giúp trẻ tự tin, hòa đồng hơn</h4>
                                <p class="font-italic text-justify"><em>Nếu bé nhà
                                bạn là một đứa trẻ nhút nhát thì việc tham gia chơi
                                đá bóng, bóng rổ… sẽ giúp trẻ tự tin, hòa đồng hơn.
                                Với cách dạy con qua trò chơi này, ba mẹ có thể giúp
                                bé vượt qua những lo lắng, rụt rè để xông xáo hơn,
                                tự tin hơn trong giao tiếp.</em></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-4 mb-20">
                        <div class="row">
                            <div class="col-md-3 col-xs-2">
                                <div class="icons-football-4">
    
                                </div>
                            </div>
    
                            <div class="col-md-9 col-xs-10">
                                <h4 class="text-theme-colored">Rèn tính kỉ luật</h4>
                                <p class="font-italic text-justify"><em>Đối với các
                                môn thể thao chơi nhiều người, trẻ sẽ học được tính
                                kỷ luật thông qua quá trình tập luyện, thi đấu. Mỗi
                                môn thể thao sẽ có những nguyên tắc, luật chơi buộc
                                bé phải tuân theo nếu muốn chơi cùng. Vì vậy, bé sẽ
                                dần hình thành ý thức và tuân theo kỷ luật đó. Điều
                                này sẽ giúp trẻ trở thành người sống kỹ luật hơn
                                trong cuộc sống.</em></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-4 mb-20">
                        <div class="row">
                            <div class="col-md-3 col-xs-2">
                                <div class="icons-football-5">
    
                                </div>
                            </div>
    
                            <div class="col-md-9 col-xs-10">
                                <h4 class="text-theme-colored">Học các kĩ năng sống, kĩ năng làm việc nhóm</h4>
                                <p class="font-italic text-justify"><em>Việc làm
                                quen, tập luyện với các môn thể thao như là vừa chơi
                                vừa học bởi bé có thể học hỏi thêm nhiều kỹ năng
                                sống .</em></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-4 mb-20">
                        <div class="row">
                            <div class="col-md-3 col-xs-2">
                                <div class="icons-football-6">
    
                                </div>
                            </div>
                            <div class="col-md-9 col-xs-10">
                                <h4 class="text-theme-colored">Tạo được kĩ năng thiết lập mục tiêu</h4>
                                <p class="font-italic text-justify"><em>Khi chơi thể
                                thao, các bé sẽ được giáo dục dưới sự chỉ dẫn của
                                huấn luyện viên hoặc của người hướng dẫn. Các bé sẽ
                                được tập luyện theo nhóm nên kỹ năng làm việc theo
                                nhóm sẽ rất tốt. Hơn nữa, trong quá trình luyện tập
                                hay thi đấu, các bé đều phải có mong ước giành mục
                                tiêu và làm cách nào để thành công.</em></p>
                            </div>
                        </div>
                    </div>
                  
                </div>
              </div>                
</section>

<!-- Divider: Funfact -->
<section class="divider parallax layer-overlay overlay-theme-colored-9" data-bg-img="theme/images/Slider2.jpg" data-parallax-ratio="0.7">
    <div class="container">
        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4 md-50">
                <div class="funfact text-center">
                    <i class="pe-7s-smile mt-5 text-theme-color-2"></i>
                    <h2 data-animation-duration="2000" data-value="<%=configs.students_number%>" class="animate-number text-white mt-0 font-38 font-weight-500">0</h2>
                    <h5 class="text-white text-uppercase mb-0">Học viên <br> theo học tại trung tâm</h5>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 md-50">
                <div class="funfact text-center">
                    <i class="pe-7s-note2 mt-5 text-theme-color-2"></i>
                    <h2 data-animation-duration="2000" data-value="<%=configs.places_number%>" class="animate-number text-white mt-0 font-38 font-weight-500">0</h2>
                    <h5 class="text-white text-uppercase mb-0">Địa điểm <br> trên 13 quận/huyện Hà Nội</h5>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 md-50">
                <div class="funfact text-center">
                    <i class="pe-7s-users mt-5 text-theme-color-2"></i>
                    <h2 data-animation-duration="2000" data-value="<%=configs.coaches_number%>" class="animate-number text-white mt-0 font-38 font-weight-500">0</h2>
                    <h5 class="text-white text-uppercase mb-0">Giảng viên <br> đang giảng dạy tại trung tâm</h5>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Section: Teachers -->
<section id="teachers" class="bg-lighter">
    <div class="container pb-60">
        <div class="section-title mb-10">
            <div class="row">
                <div class="col-md-8">
                    <h2 class="text-uppercase font-weight-500 mt-0 font-28 line-bottom">Đội ngũ <span class="text-theme-color-2 font-weight-400">HLV</span></h2>
                </div>
            </div>
        </div>
        <div class="section-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="owl-carousel-4col" data-dots="true">
                        <!-- <%coaches.forEach(function(coach) {%>
                            <div class="team maxwidth400">
                                <div class="thumb1" style="background-image: url('<%=coach.avatar%>');"></div>
                                <div class="content border-1px border-bottom-theme-color-2-2px p-15 bg-light clearfix">
                                  <h4 class="name text-theme-color-2 limited-text-2 mt-0"> <small>HLV</small> <%=coach.name%></h4>
                                  <p class="mb-20 limited-text-2"><%=coach.description%></p>                                
                                </div>
                              </div>
                      <%})%>-->

                        <%coaches.forEach(function(coach) {%>
                            <div class="item ">
                                <div class="service-block bg-white">
                                    <div class="thumb"> <img alt="featured project" src="<%=coach.avatar%>" class="img-fullwidth img-slide">

                                    </div>
                                    <div class="content border-1px border-bottom-theme-color-2-2px p-15 bg-light clearfix">
                                        <h4 class="name text-theme-color-2 limited-text-2 mt-0"> <small>HLV</small>
                                            <%=coach.name%>
                                        </h4>
                                        <p class="mb-20 limited-text-2">
                                            <%=coach.description%>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <%})%>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

   <!-- Divider: testimonials -->
   <section class="divider parallax layer-overlay overlay-theme-colored-9" data-background-ratio="0.5" data-bg-img="theme/images/Slider2.jpg">
    <div class="container pb-20">
        <div class="section-title">
            <div class="row">
                <div class="col-md-6">
                    <!-- <h5 class="font-weight-300 m-0 text-gray-lightgray">Cảm nhận của phụ huynh về Jindo</h5> -->
                    <h2 class="mt-0 mb-0 text-uppercase line-bottom text-white font-28">Cảm nhận của <span class="text-theme-color-2 font-weight-400">Phụ huynh</span></h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mb-10">
                <div class="owl-carousel-2col boxed" data-dots="true">
                    <div class="item">
                        <div class="testimonial pt-10">
                            <div class="thumb pull-left mb-0 mr-0 pr-20">
                                <img style="width: 75px!important;" class="img-circle" alt="" src="theme/images/phu_huynh_01.png">
                            </div>
                            <div class="ml-100 ">
                                <h4 class="text-white mt-0">Phụ huynh của bé
                                Nguyễn Minh Tuấn và Nguyễn Minh Dũng đang theo
                                học lớp Bóng đá tại<b> cơ sở Đông Đô </b>được 3 năm có
                                chia sẻ: “Chị rất hài lòng về Trung tâm Thể thao
                                JINDO. Các thầy dạy rất nhiệt tình, luôn chu đáo
                                hướng dẫn chi tiết cho các con. Hai bé nhà mình
                                đang học bóng đá rất hiệu quả. Các con đã năng
                                động hơn trước nhiều. Cảm ơn Trung tâm JINDO”
                                .</h4>
                                <p style="font-size: 22px;" class="author mt-20">- <span class="text-theme-color-2">Chị Dương Kiều Vân </span></p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial pt-10">
                            <div class="thumb pull-left mb-0 mr-0 pr-20">
                                <img style="width: 75px!important;" class="img-circle" alt="" src="theme/images/phu_huynh_02.jpg">
                            </div>
                            <div class="ml-100 ">
                                <h4 class="text-white mt-0">Phụ huynh  học viên
                                Vũ Gia Bảo đang theo học lớp Bóng đá tại <b>cơ sở
                                Cầu Đơ </b>chia sẻ: “Con trai mình đã trở nên năng
                                động và tự tin thể hiện bản thân hơn từ khi tham
                                gia lớp Bóng đá tại Trung tâm JINDO. Con được
                                giải tỏa stress sau những giờ học căng thẳng.
                                Đây là một lớp học rất bổ ích cho các con. Mình
                                nghĩ các bậc phụ huynh nên tạo điều kiện cho các
                                con có cơ hội tham gia vào những lớp học như vậy
                                để các con có cơ hội phát triển toàn diện về cả
                                thể chất lẫn tinh thần”</h4>
                                <p style="font-size: 22px;" class="author mt-20">- <span class="text-theme-color-2">Anh Vũ Huy Hoàng </span></p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial pt-10">
                            <div class="thumb pull-left mb-0 mr-0 pr-20">
                                <img style="width: 75px!important;" class="img-circle" alt="" src="theme/images/portrait_1.jpg">
                            </div>
                            <div class="ml-100 ">
                                <h4 class="text-white mt-0">Phụ huynh của bạn
                                Nguyễn Quốc Quân đang theo học lớp Bóng đá tại
                                <b>cơ sở Định Công Hạ</b> được 4 năm chia sẻ: “Con mình
                                đã có những giờ học thể thao rất vui và bổ ích
                                tại Trung tâm Thể thao JINDO. Con rất mong chờ
                                tới cuối tuần để có thể tham gia lớp học cùng
                                các Thầy và các bạn. Gia đình mình rất vui khi
                                thấy con có thể phát triển toàn diện và tự tin
                                hơn trong cuộc sống hàng ngày”. </h4>
                                <p style="font-size: 22px;" class="author mt-20">- <span class="text-theme-color-2">Chị Lan </span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

   <!-- Section: Contact -->
   <section id="register" ng-controller="signUp" class="register-container">
    <div class="container pb-60">
        <div class="section-title mb-10">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="mt-0 mb-0 text-uppercase line-bottom text-white font-28">Đăng ký <span class="text-theme-color-2 font-weight-400">Học</span></h2>

                </div>
            </div>
        </div>
        <div class="section-content" ng-controller="courseCtrl" ng-init="initCourseData()">
            <div class="row">
                <div class="col-md-6 pb-10">
                    <!-- Ưu đãi -->
                    <div class="reward-container">
                        <h2 class="text-pink coupon-title">Đăng ký học nhận ngay ưu đãi lớn</h2>
                        <p class="coupon-p">{{courses[0].typecourse}}: <span class="text-pink">{{courses[0].price}}vnd</span></p>
                        <p class="coupon-p">{{courses[1].typecourse}}: <del>{{courses[1].price}}vnd</del>   <span class="text-pink">{{courses[1].priceafter}}vnd </span>(-{{courses[1].sale}})</p>
                        <p class="coupon-p">{{courses[2].typecourse}}: <del>{{courses[2].price}}vnd</del>   <span class="text-pink">{{courses[2].priceafter}}vnd </span>(-{{courses[2].sale}})</p>
                        <p class="coupon-p">Tặng 1 bộ đồng phục 250k, 1 đôi tất 50k, 1 balo dây rút 50k</p>
                    </div>

                    <div class="reward-pic">
                        <img src="theme/images/reward.jpg" alt="" style="width: 100%; height: 250px;">
                    </div>
                </div>
                <div class="col-md-6 ">
                    <div class="register-form-container">
                        <!-- Form đăng ký-->
                        <form id="register_form">
                            <div class="row">
                                <div class="col-sm-6">
                                    <label for="">Thông tin phụ huynh</label>
                                    <div class="form-group mb-30">
                                        <input ng-model="Registers.name_parent" class="form-control" type="text" placeholder=" Họ tên">
                                    </div>
                                    <div class="form-group mb-30">
                                        <input ng-model="Registers.address" class="form-control" type="text" placeholder="Địa chỉ ">
                                    </div>
                                    <div class="form-group mb-30">
                                        <input ng-model="Registers.phone" class="form-control" type="text" placeholder="SĐT">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <label for="">Thông tin học viên</label>
                                    <div class="form-group mb-30">
                                        <input ng-model="Registers.name_kid" class="form-control" type="text" placeholder="Họ tên ">
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 form-group mb-30 ">
                                            <input id="datepicker" class="form-control" type="text" placeholder="Năm sinh">
                                        </div>
                                        <div class="form-group col-md-6  mb-30">
                                            <select class="form-control" id="sex" ng-model="Registers.sex" style="color: #a8a8a8">
                      <option value="">Giới Tính</option>
                      <option value="Nam">Nam</option>
                      <option value="Nữ">Nữ</option>
                    </select>
                                        </div>

                                    </div>
                                    <div class="form-group mb-30">
                                        <select class="form-control" id="courses" ng-model="Registers.courses" style="color: #a8a8a8;">
                  <option value="">Khóa Học</option>
                  <option value="Khóa Học Bóng Đá">Khóa Học Bóng Đá</option>
                  <option value="Khóa Học Bóng Rổ">Khóa Học Bóng Rổ</option>
                </select>
                                    </div>

                                </div>

                            </div>
                            <div class="form-group ">
                                <textarea ng-model="Registers.question" class="form-control required " rows="5 " placeholder="Giải đáp thắc mắc "></textarea>
                            </div>
                            <div class="form-group ">
                                <button ng-click="Registers.submit()" class="btn btn-flat btn-theme-colored text-uppercase mt-20 mb-sm-30 border-left-theme-color-2-4px ">Đăng ký ngay</button>
                            </div>
                        </form>
                        <!-- Contact Form Validation-->
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

