<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <h1>Thông tin học viên đăng ký</h1>
    <ul class="list-group">
  <li class="list-group-item">Tên phụ huynh: {{name_parent}}</li>
  <li class="list-group-item">Tên học viên: {{name_kid}}</li>
  <li class="list-group-item">SĐT: {{phone}}</li>
  <li class="list-group-item">Địa chỉ: {{address}}</li>
  <li class="list-group-item">Khai sinh: {{date_of_birth}}</li>
  <li class="list-group-item">Giới tính: {{sex}}</li>
  <li class="list-group-item">Khóa học: {{courses}}</li>
  <li class="list-group-item">Thắc mắc: {{question}}</li>

  <h2>Để xem thêm thông tin chi tiết, vui lòng truy cập vào trang Admin mục Học viên đăng kí. Xin cảm ơn!</h2>
  
</ul>
</body>
</html>